{% extends 'pollngo/base.html' %}

{% block content %}
			<div class="post">
				<div class="header">
					<h3>Pollngo</h3>
				</div>
				<p>
					Pollngo is a simple polling application for Django. It was built for <a href="http://www.7days7apps.com">7days7apps.com</a>I know, I know, they teach building a polling ap in django tutorial. It is saturday here people! Cut me some slack!
				</p>
				<p>
				  Special features
				  <ul>
					<li> Web 2.0 name. Dkango-Pollango, poll n go. See.</li>
					<li> Chart, created using Google chart API</li>
					<li> Did I tell you about our web 2.0 name</li>
				  </ul>
				</p>
				
			</div>
{% endblock %}
